<div class="sidebar border-end p-3 d-flex flex-column">
    <div class="mb-4">
        <a href="/"
           class="d-flex align-items-center text-decoration-none"
           title="Homepage">
            <img src="/static/logo-lockup-horizontal.svg"
                 alt="Ragna logo horizontal lockup">
        </a>
        <button hx-get="/htmx/chat/new"
                hx-target="#new-chat-form"
                class="btn btn-primary w-100 mt-3"
                data-bs-toggle="modal"
                data-bs-target="#newChatModal">New Chat</button>
    </div>
    <div class="sidebar-scrollable-area flex-grow-1">
        {% with %}
            {% set chat_selection = left_sidebar.chat_selection %}
            {% include "chat_selection.html" %}
        {% endwith %}
    </div>
    <div class="mt-4">
        <small class="text-muted d-block">User: {{ left_sidebar.user }}</small>
        <small class="text-muted d-block">Version: {{ left_sidebar.version }}</small>
    </div>
</div>
<div class="modal fade"
     data-bs-backdrop="static"
     id="newChatModal"
     tabindex="-1"
     aria-labelledby="newChatModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="newChatModalLabel">Start a new chat</h1>
            </div>
            <div class="modal-body">
                <form id="new-chat-form"
                      hx-post="/htmx/chat"
                      hx-encoding='multipart/form-data'
                      hx-target="#message-feed"
                      hx-select="#message-feed"
                      hx-swap="outerHTML">
                    {% with %}
                        {% set new_chat_form = left_sidebar.new_chat_form %}
                        {% if new_chat_form is not none %}
                            {% include "new_chat_form.html" %}
                        {% endif %}
                    {% endwith %}
                </form>
            </div>
            <div class="modal-footer p-2">
                <button type="button"
                        class="btn btn-secondary flex-fill me-1"
                        data-bs-dismiss="modal">Cancel</button>
                <button type="submit"
                        class="btn btn-primary flex-fill ms-1"
                        form="new-chat-form"
                        data-bs-dismiss="modal">Start chat</button>
            </div>
        </div>
    </div>
</div>
