<div class="flex-grow-1 d-flex justify-content-center overflow-auto">
    <div class="main-content-column d-flex flex-column p-0">
        <div id="scroll-container" class="flex-grow-1 overflow-y-auto p-4">
            {% with %}
                {% set message_feed = main_area.message_feed %}
                {% include "message_feed.html" %}
            {% endwith %}
        </div>
        <div class="p-3">
            <form id="form-answer"
                  class="d-flex align-items-center gap-2"
                  hx-post="/htmx/answer"
                  hx-vals="js:{chat_id: document.querySelector('.list-group-sidebar .list-group-item.active').id}"
                  hx-target="#message-feed"
                  hx-swap="beforeend">
                <input id="input-answer-prompt"
                       type="text"
                       class="form-control form-control-lg flex-grow-1"
                       name="prompt"
                       autocomplete="off"
                       placeholder="Ask a question">
                <button id="input-answer-submit"
                        type="submit"
                        class="btn btn-primary flex-shrink-0"
                        style="width: 46px;
                               height: 46px">
                    <i class="bi bi-send fs-5"></i>
                </button>
            </form>
        </div>
    </div>
</div>
<script>
    const scrollContainer = document.getElementById("scroll-container")
    const messageFeed = document.getElementById("message-feed")
    const answerPrompt = document.getElementById("input-answer-prompt")
    const answerSubmit = document.getElementById("input-answer-submit")

    function isScrolledToBottom() {
        return Math.ceil(scrollContainer.scrollTop + scrollContainer.clientHeight) >= scrollContainer.scrollHeight;
    }

    function maybeScrollToBottom() {
        if (!manuallyScrolled && !isScrolledToBottom()) {
            scrollContainer.scrollTop = scrollContainer.scrollHeight;
        }
    }

    let manuallyScrolled = false

    scrollContainer.addEventListener('scroll', () => {
        manuallyScrolled = !isScrolledToBottom()
    });

    document.getElementById("form-answer").addEventListener("htmx:afterRequest", function(evt) {
        answerPrompt.value = "";
        answerSubmit.disabled = true;
    })

    document.body.addEventListener("ragna:streamingStart", function(evt) {
        maybeScrollToBottom()

        messageFeed.setAttribute("sse-connect", evt.detail.value);
        htmx.process(messageFeed);
    })

    document.body.addEventListener('htmx:sseMessage', () => maybeScrollToBottom())

    document.body.addEventListener('htmx:sseClose', function(evt) {
        if (evt.detail.type == "message") {
            messageFeed.removeAttribute("sse-connect");
            answerSubmit.disabled = false;
        }
    })
</script>
