<div class="flex-grow-1 d-flex justify-content-center overflow-auto">
    <div class="main-content-column d-flex flex-column p-0">
        <div class="flex-grow-1 overflow-y-auto p-4">
            {% with %}
                {% set message_feed = main_area.message_feed %}
                {% include "message_feed.html" %}
            {% endwith %}
        </div>
        <script>
            document.body.addEventListener("ragna:streamingStart", function(evt) {
                console.log("starting stream", evt)
                const messageFeed = document.getElementById("message-feed")
                messageFeed.setAttribute("sse-connect", evt.detail.value)
                htmx.process(messageFeed)
            })
        </script>
        <div class="p-3">
            <form class="d-flex align-items-center gap-2"
                  hx-post="/htmx/answer"
                  hx-vals="js:{chat_id: document.querySelector('.list-group-sidebar .list-group-item.active').id}"
                  hx-target="#message-feed"
                  hx-swap="beforeend">
                <input type="text"
                       class="form-control form-control-lg flex-grow-1"
                       name="prompt"
                       placeholder="Ask a question">
                <button type="submit"
                        class="btn btn-primary flex-shrink-0"
                        style="width: 46px;
                               height: 46px">
                    <i class="bi bi-send fs-5"></i>
                </button>
            </form>
        </div>
    </div>
</div>
