{% extends "base.html" %} {% block content %}

<div>
<div class="row flex-fill p-3">
    <ul id="chat-feed" style="list-style-type: none;" hx-ext="sse" sse-close="ragna:streamingStop" sse-swap="message-system" hx-swap="beforeend"></ul>
</div>
<div class="row bg-success d-flex flex-row">
    <form hx-post="/htmx/chat/answer" hx-target="#chat-feed" hx-swap="beforeend">
        <input type="text" name="prompt" class="form-control flex-grow-1" placeholder="Ask a question" />
        <button type="submit" class="btn btn-primary w-25">
            <i class="bi bi-arrow-right-short"></i>
        </button>
    </form>
</div>
</div>
<script>
    const chatFeed = document.getElementById("chat-feed")
    document.body.addEventListener("ragna:streamingStart", function (evt){
        chatFeed.setAttribute("sse-connect", evt.detail.value)
        htmx.process(chatFeed)
    })
</script>

{% endblock %}
